<div class="footer">
    <div>
        <a href="/home" class="link">
            <div class="a"><i class="fa-solid fa-house"></i></div>
            <div class="b">Home</div>
        </a>
    </div>
    <div>
        <a href="" class="link">
            <div class="a"><i class="fa-solid fa-wallet"></i></div>
            <div class="b">Wallet</div>
        </a>
    </div>
    <div>
        <a href="" class="link">
            <div class="a"><i class="fa-solid fa-envelope"></i></div>
            <div class="b">Notifications</div>
        </a>    
    </div>
    <div>
        <a href="" class="link">
            <div class="a"><i class="fa-solid fa-bars"></i></div>
            <div class="b">More</div>
        </a>
    </div>
</div>