<div class="sidebar">
    <div class="sidebarMenu">
        <div class="menu"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i>Menu</div>
        <div class="menuBar">
            <a href=""><div><i class="fa-solid fa-house"></i>Home</div></a>
            <a href=""><div><i class="fa-regular fa-circle-question"></i>FAQ's</div></a>
            <a href=""><div><i class="fa-solid fa-phone"></i>Contact Us</div></a>
            <a href=""><div><i class="fa-solid fa-right-to-bracket"></i>Login</div></a>
            <a href="/register"><div><i class="fa-solid fa-user-plus"></i>Register</div></a>
        </div>
    </div>
</div>